<div class="ui fluid five inverted grey item menu borderless">
  <a class="item" *ngFor="let category of categories" (click)="selectCategory(category)">
    {{category.name}}
  </a>
  <a class="item" (click)="clearCategory('')">
    All
  </a>
</div>
<div class="ui grid">
  <div class="one column row">
    <div class="column">
      <div>
        <div *ngFor="let category of categories | catFilter:{name:selectedCategory}">
          <h3>{{category.name}}</h3>
          <div class="ui middle aligned divided list"  *ngFor="let dish of dishes | catFilter:{cat:category.name}">
            <div class="item">
              <div class="content">
                <h4>{{dish.name}} - <span>{{dish.price | currency:'USD':true}}</span></h4>
                <p>{{dish.desc}}</p>
              </div>
              <div class="right floated content">
                <button class="ui inverted red button" (click)="addToCart(dish)">Order</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
